body{
  margin: 0%;
}

@media (max-aspect-ratio:7/10){
  .JoinPage{
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
}

  .JoinContainer{
    margin-top: 40vw !important;
    width:100%;
}

.JoinContainer > h1{
    font-size: 6vw !important;
    width: 55vw !important;
    border-bottom: 0.6vw solid white !important;
    padding: 3vw !important;
}

#joinInput{
  width: 55vw !important;
  padding: 4vw !important;
  font-size: 5vw !important;
  margin: 5vw !important;
}

.joinbtn{
  width: 55vw !important;
  padding: 4vw !important;
  font-size: 5vw !important;
}

.chatContainer{
  background-color: white;
  height:100% !important;
  width: 100% !important;
}

.header{
  height: 10% !important;
}

.header>h2{
  margin: 8vw !important;
  font-size: 5vw !important;
}

.chatBox{
  /* border: 0.2vmax solid black; */
  height:80% !important;
  /* overflow-y: auto; */
}

.inputBox{
  height:10% !important;
}

#chatInput{
  padding: 4vw !important;
  font-size: 4vw !important;
}

.messageBox{
  /* width: initial!important; */
  padding: 3vw !important;
  margin: 3vw !important;
  border-radius: 1.5vw !important;
  font-size: 3.7vw !important;
}

}